:root {
  --dark: #000;
  --light: #fff;
  --dark-gray: #333;
  --gray: #888;
  --light-gray: #e9e9e9;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

i {
  cursor: pointer;
  font-size: 20px;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
}

body.dark {
  --light: #000;
  --dark: #fff;
  --gray: #999;
  --light-gray: #333;
  transition: all .3s ease;
}

/*left-section styles*/

.left-section {
  width: 170px;
  position: fixed;
  height: 100%;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.left-section .title {
  color: var(--light);
}

.left-section .title h1 {
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: 4px;
}

.left-section .title p {
  font-size: 0.875rem;
  color: var(--gray);
}

.left-section nav ul li {
  list-style-type: none;
  color: var(--gray);
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease;
}

.left-section nav ul li.selected {
  background: var(--light);
  color: var(--dark); 
}

.left-section nav ul li.selected a {
  color: var(--dark);
}

.left-section nav ul li:hover:not(li.selected) a {
  color: var(--light);
}

.left-section nav ul li a {
  text-decoration: none;
  color: var(--gray);
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.left-section nav ul li a i {
  margin-right: 5px;
}

.left-section .profile-card {
  background: var(--light);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.left-section .profile-card .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.left-section .profile-card .infos img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.left-section .profile-card .infos h3 {
  font-size: 0.89rem;
  font-weight: 700;
}

.left-section .profile-card .infos p {
  font-size: 0.875rem;
  color: var(--gray);
}

.left-section .profile-card .portfolio {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.left-section .profile-card .portfolio h3 {
  font-size: 0.825rem;
  font-weight: 700;
}

.left-section .profile-card .portfolio .skills {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.left-section .profile-card .portfolio .skills .item {
  padding: 4px;
  background: var(--light-gray);
  font-size: 0.825rem;
  color: var(--dark-gray);
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
}

.left-section .profile-card .portfolio .skills .item:hover {
  background: var(--gray);
  color: var(--dark-gray);
}

.left-section .profile-card .portfolio button {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.85rem;
  background: var(--dark);
  color: var(--light);
  transition: all .3s ease;
}

.left-section .profile-card button:hover {
  background: var(--dark-gray);
}

/*container styles*/

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  background: #fdfdfd;
  width: 100%;
  margin-left: 170px;
  width: calc(100vw - 187px);
}

/*header styles*/
.content header {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.content header i#toggle-menu {
  display: none;
  background: var(--dark);
  color: var(--light);
  padding: 6px;
  border-radius: 8px;
  transition: all .3s ease;
}

.content header i#toggle-menu:hover {
  background: var(--dark-gray);
}

.content header .search-container {
  display: flex;
  gap: 8px;
  width: 100%;
}

.content header .search-container .search-area,
.content header .search-container .location-area {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 50%;
  background: var(--light-gray);
  padding: 4px;
  border-radius: 8px;
}

.content header .search-container .search-area i,
.content header .search-container .location-area i {
  color: var(--gray);
}

.content header .search-container .search-area input,
.content header .search-container .location-area input {
  background: transparent;
  border: none;
  width: 100%;
  line-height: 1.75rem;
  font-size: 0.95rem;
  color: var(--dark-gray);
}

.content header .search-container .search-area input::placeholder,
.content header .search-container .location-area input::placeholder {
  color: var(--gray);
  font-size: 0.9rem;
}

.content header .search-btn {
  background: var(--dark);
  color: var(--light);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: all .3s ease;
}

.content header .search-btn:hover {
  background: var(--dark-gray);
}

.content header #theme-toggle {
  display: none;
}

.content header .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--light-gray);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.content header .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background: var(--dark);
  width: calc(25px - 4px);
  border-radius: 50%;
  transition: all .3s ease;
}

.content header #theme-toggle:checked+.theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content header .bx-bell {
  position: relative;
  background: var(--light-gray);
  padding: 6px;
  border-radius: 50%;
  transition: all .3s ease;
}

.content header .bx-bell:hover {
  background: var(--dark);
  color: var(--light);
}

.content header .bx-bell::after {
  content: "12";
  position: absolute;
  top: -2px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.55rem;
  font-weight: 700;
  background: #ff0000;
  padding: 2px;
  color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.content header .profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.content header .profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.content header .profile .infos .name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content header .profile .infos .name h3 {
  font-size: 0.85rem;
}

.content header .profile .infos p.email {
  font-size: 0.75rem;
  color: var(--gray);
}

/*main styles*/

main .separator {
  margin: 15px 0;
}

main .separator .title {
  display: flex;
  align-items: end;
  gap: 4px;
}

main .separator .title h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

main .separator .title p.number,
main .separator > p {
  font-size: 0.9rem;
  color: var(--gray);
  line-height: 1.25rem;
}

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

main .container .item {
  background: var(--light);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

main .container .item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main .container .item .top {
  display: flex;
  justify-content: space-between;
}

main .container .item .top .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .container .item .top .left .head {
  display: flex;
  align-items: center;
  gap: 8px;
}

main .container .item .top .left .head i {
  background: var(--light-gray);
  padding: 6px;
  font-size: 2rem;
  border-radius: 4px;
}

main .container .item .top .left .head .infos .header {
  display: flex;
}

main .container .item .top .left .head .infos .header h4 {
  font-size: 0.85rem;
  font-weight: 700;
  margin-right: 4px;
}

main .container .item .top .left .head .infos .header p {
  font-size: 0.75rem;
  color: var(--gray);
  line-height: 0.85rem;
  align-self: self-end;
}

main .container .item .top .left .head .infos p.title {
  font-size: 0.9rem;
  font-weight: 700;
}

main .container .item .top .left .head .infos p.location {
  font-size: 0.75rem;
  color: var(--gray);
}

main .container .item .top .left .tags {
  display: flex;
  gap: 8px;
}

main .container .item .top .left .tags .tag {
  background: var(--light-gray);
  color: var(--dark-gray);
  font-size: 0.9rem;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
}

main .container .item .top .left .tags .tag:hover {
  background: var(--gray);
}

main .container .item .top > i {
  font-size: 1.5rem;
  color: var(--gray);
  transition: all .3s ease;
}

main .container .item .top > i:hover {
  color: var(--dark-gray);
}

main .container .item p.description {
  font-size: 0.875rem;
  color: var(--gray);
}